body {
    background-image: url("../images/main_page/main_page_bkg.jpg");
    background-size: cover;
    background-position: center;
}

main {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-constructor {
    width: 100%;
    text-align: center;
    margin: 1.25rem;
    background-color: rgba(255,255,255,0.5);
    border-top-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.ingredients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.5);
    margin: 1.25rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.ingredient {
    flex-basis: calc(50% - 1em);
    box-sizing: border-box;
    padding: 1em;
    transition: flex-basis 0.5s ease;
}

h3 {
    text-align: center;
    padding-top: 1.25rem;
    color: #333;
    font-size: 1.5rem;
    margin: 0;
}

.ingredient-item {
    display: flex;
    align-items: center;
    margin: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    position: relative;
}

.ingredient-item span {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: -0.125rem;
    margin-left: 1rem;
}

.ingredient-item img {
    flex: 0 0 5rem;
    height: 5rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.ingredient-item select {
    padding: 0.3125rem;
    border: 0.0625rem solid #ddd;
    border-radius: 1000px;
    font-size: 1.125rem;
    transition: transform 0.2s;
    margin-left: 13rem;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}

.ingredient-item select:hover {
    transform: scale(1.05);
}

.ingredient-item button {
    background-color: #008000;
    color: #fff;
    width: 15%;
    height: 3.125rem;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 2.5rem;
    transition: background-color 0.2s, transform 0.2s;
    position: absolute;
    right: 2%;
    margin-left: auto;
}

.ingredient-item button:hover {
    background-color: #005000;
    transform: scale(1.05);
}

.ingredient-item button.delete-button {
    background-color: #ff0000;
    right: 20%;
}

.ingredient-item button.delete-button:hover {
    background-color: #aa0000;
}

.order {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0.625rem;
    align-self: center;
    color: #333;
    font-size: 2rem;
}

#order-info, #basket-info, #total-price {
    font-size: 1.125rem;
}

.order-data {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1.25rem;
    gap: 1.25rem;
}

#order-button {
    align-self: center;
    background-color: #ff7f00;
    color: #fff;
    padding: 0.9375rem 1.25rem;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 1.125rem;
    width: 12%;
    transition: background-color 0.2s, transform 0.2s;
}

#order-button:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.zoom {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .ingredient {
        flex-basis: 100%;
        max-width: 100%;
    }

    .ingredient-item {
        width: 100%;
    }

    .ingredient-item button {
        width: 15%;
        margin-left: auto;
        right: 5%;
    }

    .ingredient-item button.delete-button {
        right: 25%;
    }

    .ingredient-item select {
        margin-right: calc(45% + 10px);
    }
}

@media screen and (max-width: 480px) {
    .ingredient-item button {
        width: 20%;
    }
}