@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --primary-color: #d2691e;
    --text-color: #333;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 95px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

header button {
    font-size: 18px;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

.image-header {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -120px;
    cursor: pointer;
}

.left-nav {
    width: 200px;
    margin-left: 50px;
}

.right-nav {
    width: 100px;
    margin-right: 50px;
}

.search-header button {
    margin-left: -25px;
    margin-right: 45px;
    transition: color 0.3s;
}

#basket-header-id {
    display: flex;
    gap: 5px;
}
.pay-button {
    color: green;
}

.delete-button {
    color: red;
}

.phone-number button:hover,
.search-header button:hover,
.basket-header button:hover {
    color: #69C9D0;
}

.transit-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.main-button,
.menu-button,
.constructor-button {
    border: 2px solid var(--primary-color);
    padding: 15px 30px;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    transition: background-color .3s;
    transition: transform 0.2s;
}

.main-button:hover,
.menu-button:hover, 
.constructor-button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    background-color: #333;
}

.footer-nav {
    padding-left: 95px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 15px;
    font-size: 18px;
    color: #ddd;
    transition: background-color 0.3s;
}
  
.footer-nav button:hover {
    color: darkgrey;
}

.copyright {
    padding-right: 95px;
    text-align: center;
}

.copyright p {
    color: darkgrey;
    font-size: 16px;
    transition: color 0.3s;
    cursor: pointer;
}

.copyright p:hover {
    color: #ddd;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.modal .tiktok a {
    color: #69C9D0; 
}

.modal .instagram a {
    color: #DD2A7B;
}

.modal .tiktok img,
.modal .instagram img {
    width: 16px;
    height: 16px;
}

.modal .tiktok img {
    margin-bottom: -1px;
}

.modal .instagram img {
    margin-bottom: -2px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
}

.modal-content h2 {
    font-size: 24px;
    margin: 10px 0;
}

.brand-name {
    color: var(--primary-color);
    font-size: 32px;
    margin: 10px 0;
}

.modal-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.close {
    float: right;
    cursor: pointer;
}

.zoom {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
}
